</div>
</div>
</div>
</main>

<footer>
<div class="footer_area">
<div class="footer_block">
  <div class="footer_box">
    Skylight
  </div>
</div>
</div>
</footer>

</body>

<script type="text/javascript">
    function allcheck(targetForm,flag){
      for(i=0;i<=targetForm.elements.length;i++){
        if(targetForm.elements[i].type == "radio" && targetForm.elements[i].value == flag){
          targetForm.elements[i].checked = true;
        }
      }
      return false;
    }
    function allcheckout(targetForm){
      for(i=0;i<=targetForm.elements.length;i++){
        if(targetForm.elements[i].type == "radio" && targetForm.elements[i].value == 1 || 2){
          targetForm.elements[i].checked = false;
        }
      }
    }
  </script>
  
</html>